@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@media (prefers-color-scheme: light) {
     :root {
        --p_color: rgb(255, 255, 255);
        --s_color: #000;
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        --p_color: #000;
        --s_color: #fff;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--p_color);
    font-family: 'Roboto Mono', monospace;
}

#time {
    text-align: center;
    font-size: 6rem;
}

.con {
    width: 100vw;
    height: 100vh;
    border: #000 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    align-self: center;
}

#inp {
    width: 96%;
    text-align: center;
    font-size: 3rem;
    border: 0px;
    margin: 10px;
}

#inp:focus {
    caret-color: #777777;
    outline: none;
}